/* Style.css */

* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: roboto, Arial, georgia, sans-serif;
    min-height: 100vh;
}
main{
    padding: 100px;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
}
.header-container{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 18px;
}
.header-links{
    display: flex;
    gap: 20px;
    color: #e5e7eb;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
}
.title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 100px;
}
.title{
    font-size: 28px;
    font-weight: 900;
}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}
#button-one{
    padding: 15px;
    background: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 10px;
}
.image-placeholder{
    background-color: #48494b;
    color: #e5e7eb;
    padding: 18px;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    display: flex;
}
