/* Style.css */

* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: roboto, Arial, georgia, sans-serif;
    min-height: 100vh;
}
main{
    padding: 100px;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
}
.header-container{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 18px;
}
.header-links{
    display: flex;
    gap: 20px;
    color: #e5e7eb;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
}
.title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 100px;
}
.title{
    font-size: 28px;
    font-weight: 900;
}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}
#button-one{
    padding: 15px;
    background: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 10px;
}
.image-placeholder{
    background-color: #48494b;
    color: #e5e7eb;
    padding: 18px;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    display: flex;
}
h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding:20px;

}
.flex-container{
    display: flex;
    flex-direction: row;
    padding: 18px;  
    align-items: center;
    justify-content: center;
    gap: 80px;

}
.b-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid #3882f6;
    border-radius: 10px;
}
.testimonial{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    background-color: #e5e7eb;
    padding: 100px;
    font-weight: 100;
}
.signature{
    font-size: 18px;
    align-self: flex-end;
    font-weight: 900;
}